
*.CopyComplete
*.cache
*.pdb
CP.Common/.vs/
.vs/
CP.Common/bin/
CP.Common/obj/
CP.Core/bin/
CP.Core/obj/
CP.Core.EF/bin/
CP.Core.EF/obj/
CP.Database.EFModel/bin/
CP.Database.EFModel/obj/
CP.Module.Test/bin/
CP.Module.Test/obj/
CP.Core.EF/bin/
CP.Core.EF/obj/
CP.WebApp.WebAPI/bin/
CP.WebApp.WebAPI/obj/
CP.WebApp.Test/bin/
CP.WebApp.Test/obj/
CP.WebApp.Test/log/
CP.WebApp.Infrastructure/bin/
CP.WebApp.Infrastructure/obj/
CP.WebApp.NETCore/bin/
CP.WebApp.NETCore/obj/
