<div class="modal fade in" id="UserInfoModal" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="false" >
    <div class="modal-dialog">
        <div class="modal-wrapper">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>         <h4 class="modal-title">用户信息</h4>
                </div>
                <form id="Form" class="form-horizontal" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="col-sm-8">
                                <div class="col-sm-12" style="line-height: 30px;">
                                    <label class="col-sm-3 control-label form-label" style="padding-top:0px">ID：</label>
                                    <div class="col-sm-9 modal-userid">                   </div>
                                </div>
                                <div class="col-sm-12" style="line-height: 30px;">
                                    <label class="col-sm-3 control-label form-label" style="padding-top:0px">姓名：</label>
                                    <div class="col-sm-9 modal-username">
                                        
                                    </div>
                                </div>
                                <div class="col-sm-12" style="line-height: 30px;">
                                    <label class="col-sm-3 control-label form-label" style="padding-top:0px">邮箱：</label>
                                    <div class="col-sm-9 modal-email">

                                    </div>
                                </div>
                            </div>   <div class="col-sm-4">
                                <label class="col-sm-4 control-label form-label">头像：</label>
                                <div class="col-sm-8">
                                    <img id="modal-userface" src="/Content/images/h.png" style="width:80px">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>