<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container name="Default">


    <!--Web Persistence Service-->
    <register type="MyFWUnity.Common.Integration.Interfaces.ILoginInfoPersistenceService, MyFWUnity.Common"
              mapTo="MyFWUnity.Common.Integration.Default.LoginInfoPersistenceService, MyFWUnity.Common">
      <lifetime type="singleton" />
    </register>

    <!--EmailService-->
    <register type="MyFWUnity.Core.Infrastructure.Email.IEmailService,MyFWUnity.Core"
              mapTo="MyFWUnity.Core.Services.Email.BaseEmailService, MyFWUnity.Core">
      <lifetime type="singleton" />
    </register>


    <!--Web  EF Context-->
    <register type="MyFWUnity.Core.Infrastructure.DatabaseContext.IRepositoryContext,MyFWUnity.Core"
        mapTo="MyFWUnity.Core.EFWebRepositoryContext,MyFWUnity.Core" >
      <lifetime type="singleton" />
    </register>



    <!--UserService-->
    <register type="MyFWUnity.Module.Base.Services.Interfaces.IUserService,MyFWUnity.Module.Base"
              mapTo="MyFWUnity.Module.Base.Services.Default.UserService, MyFWUnity.Module.Base">
      <lifetime type="singleton" />
    </register>


    <!--EntryRelationService-->
    <register type="MyFWUnity.Module.Base.Services.Interfaces.IEntryRelationService,MyFWUnity.Module.Base"
              mapTo="MyFWUnity.Module.Base.Services.Default.EntryRelationService, MyFWUnity.Module.Base" >
      <lifetime type="singleton" />
    </register>
    
    <!--MenuService-->
    <register type="MyFWUnity.Module.Base.Services.Interfaces.IMenuService,MyFWUnity.Module.Base"
              mapTo="MyFWUnity.Module.Base.Services.Default.MenuService, MyFWUnity.Module.Base">
      <lifetime type="singleton" />
    </register>
    <!--PermissionService-->
    <register type="MyFWUnity.Module.Base.Services.Interfaces.IPermissionService,MyFWUnity.Module.Base"
              mapTo="MyFWUnity.Module.Base.Services.Default.PermissionService, MyFWUnity.Module.Base">
      <lifetime type="singleton" />
    </register>

    <!--ProjectService-->
    <register type="MyFWUnity.Module.Project.Services.Interfaces.IProjectService,MyFWUnity.Module.Project"
              mapTo="MyFWUnity.Module.Project.Services.Default.ProjectService, MyFWUnity.Module.Project">
      <lifetime type="singleton" />
    </register>

    <!--EmailMessageService-->
    <register type="MyFWUnity.Module.Base.Services.Interfaces.IEmailMessageService,MyFWUnity.Module.Base"
              mapTo="MyFWUnity.Module.Base.Services.Default.EmailMessageService, MyFWUnity.Module.Base">
      <lifetime type="singleton" />
    </register>

    <!--SysService-->
    <register type="MyFWUnity.Module.Base.Services.Interfaces.ISysService,MyFWUnity.Module.Base"
              mapTo="MyFWUnity.Module.Base.Services.Default.SysService, MyFWUnity.Module.Base">
      <lifetime type="singleton" />
    </register>

  </container>
</unity>